/*
* Globals
*/

/*
* Override Bootstrap's default container.
*/

/* @media (min-width: 1200px) {
.container {
    width: 970px;
}
} */


/*
* Main column and sidebar layout
*/

/* Pagination */
/* .pager {
margin-bottom: 60px;
text-align: left;
}
.pager > li > a {
width: 140px;
padding: 10px 20px;
text-align: center;
border-radius: 30px;
}
 */

/*
* Blog pages
*/

.page-content h2 {
    width: 100%;
    padding: 10px;
    background-color: rgb(169, 168, 168);
    color: white;
    border-left: 5px solid black;
    margin-bottom: 10px;
    box-shadow: 0 0 black;
}

.page-content h3 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 100%;
    padding: 10px;    
}

.page-content > ul {
    background-color: #f8f9ff;
    padding: 10px;
    border: dashed 1px #4865b2;
    margin: 10px;
}

.page-content li {
    margin-left: 40px;
}


/*
* Blog posts
*/

.blog-post {
    margin-bottom: 60px;
    width:100%;
}

.blog-post p {
    margin-bottom: 20px;
}

.blog-post-title {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.blog-post-title:after {
    display: block;
    height: 3px;
    background-color: black;
    content: " ";
    width: 20%;
    margin: 0 auto;
    margin-top: 30px;
}


.blog-post-meta {
    /* margin-bottom: 20px; */
    color: #999;
    margin-left: 10px;
    margin-bottom:0px;
}

.post-content h2 {
    width: 100%;
    padding: 10px;
    background-color: rgb(169, 168, 168);
    color: white;
    border-left: 5px solid black;
    margin-bottom: 10px;
    box-shadow: 0 0 black;
}

.post-content h3 {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    width: 100%;
    padding: 10px;    
}

.post-content > ul {
    background-color: #f8f9ff;
    padding: 10px;
    border: dashed 1px #4865b2;
    margin: 10px;
}

.post-content li {
    margin-left: 40px;
}


/* toc_content */
.toc_title {
    font-size: 50px;
}

#toc_container.no_bullets .toc_list li {
    font-size: 30px;
    padding: 3px;
    border: 2px solid black;
    margin: 3px;
    border-radius: 5px;
    background-color: black;
}

#toc_container .toc_list li a {
    padding-left: 5px;
    color:white;
}

#toc_container {
    background: #f9f9f9;
    border: 1px solid #aaa;
    padding: 10px;
    margin-bottom: 1em;
    width: auto;
    display: table;
    font-size: 95%;
    margin: auto;
}


/*
* Blog-contents
*/

#prof-facebook a:hover,#prof-twitter a:hover,#prof-google a:hover,#prof-youtube a:hover,#prof-instagram a:hover{color:#000496;transition:all .5s;}
#prof-img{position:absolute;width:80px;top:100px;margin-left:-5px;padding:10px;}
#prof-img p{font-weight:800;font-size:1.0em;text-align:left;line-height:1.1em;margin-top:5px;position:absolute;top:-60px;left:110px;width:200px;}
#prof-img img{position:absolute;width:80px;border-radius:100px;top:-60px;left:10px;}
#prof-doc{padding-top:105px;padding-left:10px;padding-right:10px;padding-bottom:10px;line-height:1.7em;font-size:.9em;}
#prof-facebook{position:absolute;padding:10px 0 10px 100px;margin-top:-80px;top:40px;z-index:5;}
#prof-facebook a{color:#333;}
#prof-twitter{position:absolute;padding:0 0 10px 130px;margin-top:20px;top:-49px;z-index:4;}
#prof-twitter a{color:#333;}
#prof-google{position:absolute;padding:0 0 10px 160px;margin-top:20px;top:-50px;z-index:3;}
#prof-google a{color:#333;}
#prof-youtube{position:absolute;padding:0 0 10px 188px;margin-top:20px;top:-50px;z-index:2;}
#prof-youtube a{color:#333;}
#prof-instagram{position:absolute;padding:0 0 10px 218px;margin-top:20px;top:-50px;z-index:1;}
#prof-instagram a{color:#333;}


.prof-under-article{margin:-20px 0 20px;padding:20px 10px;background:black;color:#fff;border-radius:3px;box-shadow:0px 2px 5px -1px rgba(0,0,0,.3);}
.prof-under-article a{text-decoration:none;}
.prof-under-article-title{font-weight:bold;font-size:1.2em;text-align:center;color:#fff;padding:10px;margin:-5px;}
.prof-under-article-left{width:100%;text-align:center;}
.prof-under-article-left img{border-radius:100px;margin:10px 10px 0;width:100%;max-width:130px;}
.prof-under-article-name{width:100%;max-width:150px;margin:auto;text-align:center;}
.prof-under-article-name a{color:#fff;text-align:center;font-weight:bold;font-size:.65em;}
.prof-under-article-right{width:90%;float:left;margin:5px 1% 5px 4%;font-size:.75em;}
.prof-under-article-right-sns{float:left;margin:5px 2px 0;}
.prof-under-article-right-sns a{margin:0 5px;font-size:2.0em;}
.prof-under-article-right-description{float:left;margin:20px 10px;}
.prof-under-article-right-profurl a{float:left;margin:5px;display:inline-block;padding:.2em .5em;color:#fff;font-size:1.1em;}
#prof-upper-article{margin:30px 5px;}
#prof-upper-article .prof-under-article-right-sns{float:left;margin:5px 7px 0;font-size:1em;}
.prof-under-article-right-sns a{color:#fff;}
#prof-upper-article .prof-under-article-right-profurl a{width:100%;font-size:1.0em;font-weight:800;margin:20px 5px;}
#prof-kijisita-inner{max-width:1000px;margin:0 auto;padding:0px;}
#prof-kijisita{clear:both;background:black;margin:20px 0;padding:15px 0px 30px;color:#ffffff;box-shadow:0px 1px 5px rgba(0,0,0,.3);}
#prof-kijisita .prof-under-article{margin:0;background:none;box-shadow:0px 0px 0px;}
#prof-kijisita .prof-under-article-title{text-align:center;background:none;font-size:17px;margin:10px 0;}
#prof-kijisita .prof-under-article-left img{border-radius:50%;max-width:250px;}
#prof-kijisita .prof-under-article-name{max-width:250px;}
#prof-kijisita .prof-under-article-name a{font-size:.8em;color:#ffffff;}
#prof-kijisita .prof-under-article-right-sns a{margin:0 5px;font-size:1.8em;}
#prof-kijisita .prof-under-article-right-profurl a{color:#fff;font-size:1.3em;background:#047a86;border-radius:3px;box-shadow:0px 1px 5px rgba(0,0,0,.3);}
#prof-kijisita .prof-under-article-right-profurl a:hover{transition:.2s ease-in-out;-webkit-transform:translate(0px,-2px);-moz-transform:translate(0px,-2px);-ms-transform:translate(0px,-2px);-o-transform:translate(0px,-2px);transform:translate(0px,-2px);box-shadow:0px 10px 20px -3px rgba(0,0,0,.3);}



/*
* Post-contents
*/

#post-thumbnail {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px
}

#post-thumbnail img {
    width: 300px;
    height: 300px;
    margin: auto;
}

/*
* Comment
*/

#comments.clearfix{padding:0;clear:both;}
#comments p a{color:#333;}
#comments p{font-size:14px;font-weight:normal;line-height:20px;margin:0px;color:#333;padding:5px 0;margin-left:0em;text-indent:0em;}
#comments label{display:block;}
.metadata dd a{color:#333;}
.metadata{font-size:13px;line-height:20px;}
#comments{font-size:14px;line-height:20px;color:#333;padding-top:10px;padding-right:0px;padding-bottom:10px;padding-left:0px;margin-bottom:20px;}
.comment-body{padding:10px;margin-bottom:20px;}
.fn{font-style:normal;font-size:13px;}
cite.fn a{margin-left:22px;}
.says{display:none;font-size:13px;line-height:18px;}
.commentmetadata{font-size:12px;line-height:15px;height:15px;width:100%;clear:both;padding:10px 10px 10px 0;}
.reply{padding:5px;font-size:13px;}
#comments #respond{font-size:16px;font-weight:bold;margin-bottom:10px;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px;color:#666;}
#comments #commentform .tags{padding:10px;background-color:#f3f3f3;font-size:13px;}
#comments #commentlist img{padding:10px;}
#comments .commets-list{padding-left:0px;list-style-type:none;}
ul.children{padding-left:10px;}
.commets-list li{list-style-type:none;}
.comment-author.vcard .avatar{float:left;margin-right:10px;}
.vcard .fn{font-size:13px;line-height:18px;}
#comments ol li:before{display:none;}
ol.commets-list{background:#f3f3f3;padding-bottom:10px;}
.comment-author.vcard img{margin-left:-15px; margin-top: 10px;}
cite.fn{padding-left:25px;}
a.comment-edit-link{display:none;float:left;margin-left:140px;}
.comment-meta.commentmetadata a{padding-left:75px;float:left;margin-top:-40px;}
a.comment-reply-link{padding-left:30px;}
.commentmetadata{font-size:12px;line-height:15px;height:15px;width:100%;clear:both;padding:10px 10px 10px 0;margin-bottom:-30px;}
#comments ul.children{background:#FFF;margin:10px;margin:-10px 20px 20px -5px;}
#comments ul.children img{float:left;padding:10px 0 0 0;margin-right:-10px;}
#comments ul.children cite.fn{padding-left:25px;float:left;margin-top:15px;}
#comments ul.children span.says{display:none;padding-left:25px;margin-top:15px;float:left;}
#comments ul.children .comment-meta.commentmetadata a{float:left;padding-left:45px;text-align:left;text-indent:.1em;margin-top:-40px;}
#comments ul.children a.comment-reply-link{display:none;}
h3#reply-title{margin-top:20px;}
.form-allowed-tags{display:none;}
#comments h3{background:rgba(102, 102, 102, 0);color:#565656;font-size:1.1em;padding:10px 0px 10px 0px;border:none;margin-bottom:0px;text-align:center;}
#comments textarea{margin-bottom:10px;width:99%;border:4px #e8e8e8 solid;border-radius:3px;background:#e8e8e8;box-shadow:0px 1px 5px rgba(0,0,0,.3);}
#comments input{box-sizing:border-box;padding:10px;width:100%;border-radius:2px;border:0 #f2f2f2 solid;box-shadow:0px 0px 1px 1px #ccc;}
input#subscribe_comments{box-shadow:0px 0px 0px 0px #ccc;}
input#subscribe_blog{box-shadow:0px 0px 0px 0px #ccc;}
#comments input[type="submit"]{background-color:#666666;color:#ffffff;padding:15px;width:50%;margin:0 25%;-webkit-appearance:none;box-shadow:0px 1px 5px rgba(0,0,0,.3);}
#comments input[type="submit"]:hover{transition:all .5s;box-shadow:0px 8px 20px -3px rgba(0,0,0,.3);transform:translate(0,-2px);}


@media only screen and (min-width:781px) {
    /*
    * Blog pages
    */
    .page-content h2 {
        width: 60%;
        padding: 10px;
        background-color: rgb(169, 168, 168);
        color: white;
        border-left: 5px solid black;
        margin-bottom: 10px;
        box-shadow: 0 0 black;
    }
    
    .page-content h3 {
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        width: 60%;
        padding: 10px;    
    }

    /*
    * Blog posts
    */
    .blog-post {
        margin-bottom: 60px;
        width:80%;
        float:left;
    }
    
    .blog-post p {
        margin-bottom: 60px;
    }
    
    .blog-post-title {
        font-size: 180%;
        word-spacing: 2px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }
    
    .blog-post-title:after {
        display: block;
        height: 3px;
        background-color: black;
        content: " ";
        width: 20%;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    
    .blog-post-meta {
        margin-bottom: 20px;
        color: #999;
    }
    
    .post-content h2 {
        width: 60%;
        padding: 10px;
        background-color: rgb(169, 168, 168);
        color: white;
        border-left: 5px solid black;
        margin-bottom: 10px;
        box-shadow: 0 0 black;
    }
    
    .post-content h3 {
        border-bottom: 2px solid black;
        border-left: 2px solid black;
        width: 60%;
        padding: 10px;    
    }

    /* toc_content */
    #toc_container {
        background: #f9f9f9;
        border: 1px solid #aaa;
        padding: 10px;
        width: auto;
        display: table;
        font-size: 95%;
        margin: 0 0 1em 0;
    } 

    /*
    * Blog-contents
    */
    #prof-upper-article .prof-under-article-right-profurl a{margin:0;}
    #prof-img{position:absolute;width:128px;top:160px;padding:10px;}
    #prof-img p{font-weight:800;text-align:center;line-height:1.1em;margin-top:5px;margin-left:-5px;}
    #prof-img img{position:absolute;width:120px;border-radius:100px;top:-110px;left:20px;}
    #prof-doc{padding-top:40px;padding-left:150px;padding-right:10px;padding-bottom:10px;font-size:.9em;}
    #prof-facebook{position:absolute;padding:10px 0 10px 145px;margin-top:-170px;top:40px;z-index:5;}
    #prof-facebook a{color:#333;}
    #prof-twitter{position:absolute;padding:0 0 10px 170px;margin-top:-48px;top:-72px;z-index:4;}
    #prof-twitter a{color:#333;}
    #prof-google{position:absolute;padding:0 0 10px 195px;margin-top:-49px;top:-72px;z-index:3;}
    #prof-google a{color:#333;}
    #prof-youtube{position:absolute;padding:0 0 10px 223px;margin-top:-49px;top:-72px;z-index:2;}
    #prof-youtube a{color:#333;}
    #prof-instagram{position:absolute;padding:0 0 10px 250px;margin-top:-49px;top:-72px;z-index:1;}
    #prof-instagram a{color:#333;}

    /*
    * Post-contents
    */
    #post-thumbnail {
        text-align: center;
        margin-bottom: 20px;
    }
    
    #post-thumbnail img {
        width: 300px;
        height: 300px;
        margin: auto;
    }


    /*
    * Comment
    */    
    /* common */
    ol li {
        padding-left: 1.7em;
        text-indent: -1.7em;
    }

    /* comment */
    #comments{max-width:750px;font-size:14px;line-height:20px;color:#333;padding-top:10px;padding-right:20px;padding-bottom:10px;padding-left:20px;margin:0 auto 20px;}
    #comments ol li:before{display:none;}
    ol.commets-list{background:#f3f3f3;padding-bottom:10px;}
    .comment-author.vcard img{margin-left:-15px; margin-top: 10px;}
    cite.fn{padding-left:25px;}
    a.comment-edit-link{display:none;float:left;margin-left:140px;}
    .comment-meta.commentmetadata a{padding-left:75px;float:left;margin-top:-42px;}
    #comments p{font-size:14px;font-weight:normal;line-height:20px;margin:0px;color:#333;padding:5px 0;margin-left:0em;text-indent:0em;}
    a.comment-reply-link{padding-left:30px;}
    .commentmetadata{font-size:12px;line-height:15px;height:15px;width:100%;clear:both;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:0px;margin-bottom:-30px;}
    #comments ul.children{background:#FFF;margin:10px;margin:-10px 20px 20px -5px;}
    #comments ul.children img{float:left;padding:10px 0 0 0;margin-right:-10px;}
    #comments ul.children cite.fn{padding-left:45px;float:left;margin-top:15px;}
    #comments ul.children span.says{display:none;padding-left:25px;margin-top:15px;float:left;}
    #comments ul.children .comment-meta.commentmetadata a{float:left;padding-left:50px;text-align:left;text-indent:.1em;margin-top:-40px;}    
}

@media only screen and (min-width:481px) {
    /*
    * Blog posts
    */
    .blog-post p {
        margin-bottom: 60px;
    }
}



@media only screen and (min-width:420px){
    /*
    * Blog-contents
    */
    #prof-img{position:absolute;width:128px;top:160px;padding:10px;}
    #prof-img p{font-weight:800;text-align:center;line-height:1.1em;margin-top:5px;top:10px;left:0;width:140px;}
    #prof-img img{position:absolute;width:120px;border-radius:100px;top:-110px;left:20px;}
    #prof-doc{padding-top:45px;padding-left:150px;padding-right:10px;padding-bottom:10px;font-size:.9em;}
    #prof-facebook{position:absolute;padding:10px 0 10px 145px;margin-top:-170px;top:40px;z-index:5;}
    #prof-facebook a{color:#333;}
    #prof-twitter{position:absolute;padding:0 0 10px 170px;margin-top:-48px;top:-72px;z-index:4;}
    #prof-twitter a{color:#333;}
    #prof-google{position:absolute;padding:0 0 10px 195px;margin-top:-49px;top:-72px;z-index:3;}
    #prof-google a{color:#333;}
    #prof-youtube{position:absolute;padding:0 0 10px 223px;margin-top:-49px;top:-72px;z-index:2;}
    #prof-youtube a{color:#333;}
    #prof-instagram{position:absolute;padding:0 0 10px 250px;margin-top:-49px;top:-72px;z-index:1;}
    #prof-instagram a{color:#333;}

    .prof-under-article-title{font-size:1.0em;}
    .prof-under-article-name a{font-size:1.0em;}
    .prof-under-article-right{width:85%;float:left;margin:5px 2% 5px 3%;font-size:0.9em;}
    .prof-under-article-right-sns a{margin:0 3px;font-size:1.5em;}

    #prof-kijisita .prof-under-article-title{font-size:20px;}
    #prof-kijisita-inner{padding:10px;}
    #prof-kijisita{padding:15px 20px 30px;}
    #prof-kijisita .prof-under-article-name a{font-size:1.3em;}

    /*
    * Comment
    */
    #comments h3{background:rgba(102, 102, 102, 0);color:#565656;font-size:1.3em;padding:10px 0px 10px 0px;border:none;margin-bottom:0px;text-align:center;}
}
